ela003.duckdns.org {
    reverse_proxy /api/* https://127.0.0.1:3002 {
        transport http {
            tls_insecure_skip_verify
        }
    }

    handle /admin/login.asp {
        rewrite * /
        reverse_proxy https://127.0.0.1:5173 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    reverse_proxy https://127.0.0.1:5173 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}